<div class="jumbotron text-center">
  <h1>MEAN Auth app</h1>
  <p class="lead">bienvenido a esta aplicaion MEAN </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/registro']">Registro</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Express back end</h3>
    <p>usa mongoose nodejs y expres para hacer consultas
    </p>
  </div>
  <div class="col-md-4">
    <h3>angular cli</h3>
    <p>
      usa angular cli para generar componntes, sevricios y mas 
    </p>
  </div>
  <div class="col-md-4">
      <h3>JWT tokens</h3>
      <p>
        autentificacion usando token json, para 
        el login y guardar datos del usario
      </p>
    </div>
</div>